# MySQL é utilizado quando as três variáveis abaixo estão preenchidas.
DB_TYPE=MYSQL
DB_URL=
DB_USER=
DB_PASSWORD=

# Se alguma configuração do MySQL estiver vazia, o SQLite será usado.
SQLITE_DB_URL=jdbc:sqlite:database/helpdesk.db
